<div class="right_col" role="main" ng-controller="myJDAPPRPCtrl" style="min-height: 100vh">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Reset Passwords</h3>
            </div>
            <div class="title_right">
                <!-- <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-align-left"></i> Reset User Account Passwords <small>(Enter User ID(s) whose password(s) is to be reset.)</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <form class="form-horizontal" role="form" name="rpForm" ng-submit="resetPasswords(rpForm.$valid)" autocomplete="off" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" style="text-align: center; padding-top: 8px">User ID</label>
                                    <div class="form-group col-md-5 col-sm-5 col-xs-12" style="text-align: center">
                                        <input type="text" class="form-control" ng-model="txtUserID" placeholder="Enter User ID" maxlength="50" />
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                        <button type="button" class="btn btn-primary glyphicon glyphicon-plus" ng-click="addUserID()"></button>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="userIDArray.length > 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                        <label class="control-label uid-label" ng-repeat="i in userIDArray" style="margin: 10px">
                                            {{i.UserID}}
                                            <button type="button" class="btn btn-xs glyphicon glyphicon-remove" ng-click="removeUserID($index)" style="margin-top: -10px; color: red"></button>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="userIDArray.length == 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                        <label class="control-label text-danger">User ID is not entered.</label>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="text-align: center">
                                    <input type="submit" class="btn btn-success" value="Reset" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .uid-label {
        padding: 5px;
        background: #dddddd;
        margin: 0 10px 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 1px #aaaaaa;
        -webkit-box-shadow: 3px 3px 5px 1px #aaaaaa;
        -moz-box-shadow: 3px 3px 5px 1px #aaaaaa;
    }
</style>