<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em class="placeholder">ctools_access_get_loggedin_context()</em> (line <em class="placeholder">1411</em> of <em class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="side-left" style="width: 100%;">
                <h1>Frequently asked questions and its answers</h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <ol style="list-style-type: decimal">
                                    <li>
                                        <p><b>What is Pest Surveillance?</b></p>
                                        <p>Ans:- Pest Surveillance is a method of close and constant observation of crop pest i.e., Insect, Fungi, Bacteria, Nematodes, Weed and other micro-organism damaging crop.</p>
                                    </li>
                                    <li>
                                        <p><b>How many types of Surveillance are there?</b></p>
                                        <p>Ans:- There are 3 type of surveillance i.e., Fixed plot survey, Random survey and Roving survey.</p>
                                    </li>
                                    <li>
                                        <p><b>What is the unit of one fixed plot?</b></p>
                                        <p>Ans:- The unit of a fixed plot is One acre (4000 sq.mtr).</p>
                                    </li>
                                    <li>
                                        <p><b>How many sub-plots are there in a fixed plot?</b></p>
                                        <p>Ans:- There are 5 sub-plots of size 1 sq meter each in a fixed plot.</p>
                                    </li>
                                    <li>
                                        <p><b>Which crops are surveyed in Odisha?</b></p>
                                        <p>Ans:- In Odisha mainly the crop like Paddy, Sugarcane, Cotton, Mung, Biri, Arhar, and Ground Nut & Mustard are surveyed.</p>
                                    </li>
                                    <li>
                                        <p><b>Who are the supporting agencies for e-Pest Surveillance in Odisha?</b></p>
                                        <p>Ans:- The supporting agency for e-Pest Surveillance in Odisha is CIPMC, Dept. of Entomology, Dept. of Plant Pathology, OUAT, NRRI, & NIC.</p>
                                    </li>
                                    <li>
                                        <p><b>What is the time period of Pest Surveillance during Kharif and Rabi?</b></p>
                                        <p>Ans:- The time period for Kharif is from July to November and that of Rabi is from December to April.</p>
                                    </li>
                                    <li>
                                        <p><b>How many villages / day will be survey by the Pest Surveillance staffs?</b></p>
                                        <p>Ans:- 2 villages / day will be survey by the Pest Surveillance staff.</p>
                                    </li>
                                    <li>
                                        <p><b>How many days will be survey by the Pest Surveillance staff in a week?</b></p>
                                        <p>Ans:- The survey will be done in 4 days of a week i.e., Monday, Tuesday, Wednesday & Thursday covering one GP as a unit.</p>
                                    </li>
                                    <li>
                                        <p><b>What is the unit of survey?</b></p>
                                        <p>Ans:- One GP is divided into 8 units or villages & 2 units of villages will be covered in one day.</p>
                                    </li>
                                    <li>
                                        <p><b>How many plots are to be surveyed by PS staff in one day?</b></p>
                                        <p>Ans:- In one village, one fixed plot and two random plots will be survey by the PS staff. So in one day two villages will be covered under 2 fixed plots and 4 random plots.</p>
                                    </li>
                                    <li>
                                        <p><b>What are the pest monitoring devices generally used in e-pest surveillance?</b></p>
                                        <p>Ans:- Generally Pheromone trap, sweep net, square meter frame, water pan, Sticky trap, sphere trap, sieves and light traps are use as Pest monitor in e-Pest surveillance.</p>
                                    </li>
                                    <li>
                                        <p><b>Who is the Nodal Officer of e-Pest surveillance?</b></p>
                                        <p>Ans:- DDA (PP) is the Nodal Officer or e-Pest surveillance.</p>
                                    </li>
                                    <li>
                                        <p><b>What are the physical requirements for e-Pest surveillance?</b></p>
                                        <p>Ans:- Manpower, Transport (Mobility), Equipments, Smart Phone & facilities for data processing are the requirement for surveillance.</p>
                                    </li>
                                    <li>
                                        <p><b>Besides pests what others are surveyed at the time of surveillance?</b></p>
                                        <ol style="list-style-type: upper-alpha">
                                            <li>
                                                <p>Natural enemies (Parasites, Predators).</p>
                                            </li>
                                            <li>
                                                <p>Location of the field.</p>
                                            </li>
                                            <li>
                                                <p>Water level in the field (Flooded, Muddy, Dry).</p>
                                            </li>
                                            <li>
                                                <p>Weathers (Sunny, Cloudy, Drizzling, Raining).</p>
                                            </li>
                                            <li>
                                                <p>Crop Variety (Local, Improved, Hybrid, Tolerant, and Resistant).</p>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>