<%- include('header.ejs') -%>
<div id="container" class="clearfix">
    <section id="main" role="main" class="clearfix">
        <div class="side-left" style="width: 100%;">
            <h1>Video Gallery</h1>
            <div class="content" style="box-sizing: border-box">
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/VAW-App.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">VAW App Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/AAO-App.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">AAO App Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/AAO-Web.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">AAO Web Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                        <video width="480" height="320" controls>
                            <source src="/public/videos/ADO-App.mp4" type="video/mp4">
                        </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">ADO App Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/ADO-Web.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">ADO Web Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/CDAO.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">CDAO Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/JDA (PP).mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">JDA (PP) Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                        <video width="480" height="320" controls>
                            <source src="/public/videos/OUAT.mp4" type="video/mp4">
                        </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">OUAT Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                        <video width="480" height="320" controls>
                            <source src="/public/videos/Emergency-App.mp4" type="video/mp4">
                        </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">Emergency App Training Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/Blast.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">Information on Blast Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/Brown Plant Hopper.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">Information on BPH Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/Leaf Folder.mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">Information on Leaf Folder Video</p>
                </div>
                <div style="width: 50%; float: left">
                    <video width="480" height="320" controls>
                        <source src="/public/videos/Yellow Stem Borer (Paddy).mp4" type="video/mp4">
                    </video>
                    <p style="text-align: center; font-size: 20px; font-weight: 500">Information on YSB (Paddy) Video</p>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('footer.ejs') -%>