<!DOCTYPE html>
<html style="background: #cde7c7">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADOApp</title>
    <link rel="icon" href="../../gigw/nielit.gov.in/sites/all/themes/berry/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/style3.css">
    <link rel="stylesheet" href="../../public/stylesheets/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/multistepform.css">
    <link href="../../public/stylesheets/loader.css" rel="stylesheet">
    <link rel="manifest" href="../../public/manifestADO.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="VAWApp">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../../public/images/icons/apple-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-48x48.png">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-96x96.png">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-144x144.png">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-192x192.png">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-256x256.png">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-384x384.png">
    <meta name="msapplication-TileImage" content="../../public/images/icons/app-icon-512x512.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body ng-app="myADOApp" style="background: #cde7c7" ng-cloak>
    <div data-loading></div>
    <div id="loader" class="lds-eclipse" style="background: white; z-index: 99999; position: fixed; display: none"><div style="margin: 50% 22%"></div></div>
    <div class="wrapper" ng-controller="myADOCtrl" ng-init="getEMRRefNoFID()">
        <nav id="sidebar">
            <!-- <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div> -->
            <div class="sidebar-header">
                <h3>Welcome ADO</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a id="closeSideBar" href="#!home"><i class="glyphicon glyphicon-home" style="color: #4285f4"></i> Home</a>
                </li>
                <li>
                    <a id="closeSideBar" href="#!/dashboard/referenceNoDetails"><i class="glyphicon glyphicon-dashboard" style="color: #0f9d58"></i> Verification</a>
                </li>
                <li>
                    <a id="closeSideBar" href="#!/emergencyCase"><i class="glyphicon glyphicon-exclamation-sign" style="color: red"></i> Emergency Case <i class="fa fa-envelope-o"></i><span class="badge" style=" background-color: red">{{emrRefNoFID.length}}</span></a>
                </li>
                <li>
                    <a onclick="setLocationHrefSync()" id="closeSideBar"><i class="glyphicon glyphicon-refresh" style="color: #000000"></i> Synchronize</a>
                </li>
                <li>
                    <a onclick="setLocationHrefCP()" id="closeSideBar"><i class="glyphicon glyphicon-edit" style="color: #7349bd"></i> Change Password</a>
                </li>
                <li>
                    <a href="#reportSubMenu" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-file" style="color: #f4b400"></i> Reports</a>
                    <ul class="collapse list-unstyled" id="reportSubMenu">
                        <li><a id="closeSideBar" href="#">Report 1</a></li>
                        <li><a id="closeSideBar" href="#">Report 2</a></li>
                        <li><a id="closeSideBar" href="#">Report 3</a></li>
                    </ul>
                </li>
                <li>
                    <a id="closeSideBar" onclick="logout()"><i class="glyphicon glyphicon-log-out" style="color: #db4437"></i> Logout</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn navbar-btn" style="background: transparent">
                            <i class="glyphicon glyphicon-menu-hamburger" style="color: #ffffff; font-weight: bold">
                                <b style="font-size: 19px; font-family: 'Open Sans', sans-serif"> e-Pest</b>
                            </i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#!home" style="color: #ffffff">Home</a></li>
                            <li><a href="#!/dashboard/referenceNoDetails" style="color: #ffffff">Verification</a></li>
                            <li><a href="#!/emergencyCase" style="color: #ffffff">Emergency Case <i class="fa fa-envelope-o"></i><span class="badge" style=" background-color: red">{{emrRefNoFID.length}}</span></a></li>
                            <li><a onclick="setLocationHrefSync()" style="color: #ffffff">Synchronize</a></li>
                            <li><a onclick="setLocationHrefCP()" style="color: #ffffff">Change Password</a></li>
                            <li><a onclick="logout()" style="color: #ffffff">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="line"></div>
        </div>
    </div>
    <div style="padding: 10px; background: #cde7c7" ui-view></div>
    <div class="overlay"></div>
    <script src="../../public/javascripts/jquery.min.js"></script>
    <script src="../../public/javascripts/angular.min.js"></script>
    <script src="../../public/javascripts/angular-route.min.js"></script>
    <script src="../../public/javascripts/angular-filter.min.js"></script>
    <script src="../../public/javascripts/angular-ui-router.min.js"></script>
    <script src="../../public/javascripts/angular-animate.min.js"></script>
    <script src="../../public/javascripts/bootstrap.min.js"></script>
    <script src="../../public/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        var app = angular.module('myADOApp', ['angular.filter', 'ngAnimate', 'ui.router']);
        app.service('adoService', function() {
            var referenceNo;
            var cropCode;
            return {
                getReferenceNo: function() {
                    return referenceNo;
                },
                setReferenceNo: function(refNo) {
                    referenceNo = refNo;
                },
                getCropCode: function() {
                    return cropCode;
                },
                setCropCode: function(cc) {
                    cropCode = cc;
                },
                getBlockCode: function() {
                    return blockCode;
                },
                setBlockCode: function(bc) {
                    blockCode = bc;
                },
                getDistrictCode:function() {
                    return districtCode;
                },
                setDistrictCode:function(dc) {
                    districtCode = dc;
                }
            };
        });
        app.controller('myADOCtrl', function($scope, $http, adoService) {
            $scope.getEMRRefNoFID = function () {
                if ('indexedDB' in window) {
                    readAllData('emrRefNo-fID').then(function success(response) {
                        if (response.length > 0) {
                            $scope.emrRefNoFID = response;
                            $scope.$apply();
                        }
                        else {
                            $scope.emrRefNoFID = [];
                            $scope.$apply();
                        }
                    }, function error(response) {
                        console.log(response.status);
                    }).catch(function err(error) {
                        console.log('An error occurred...', error);
                    });
                }
            };
        });
        app.filter('capitalize', function () {
            return function (input) {
                if (input != null) {
                    input = input.toLowerCase().split(' ');
                    for (var i = 0; i < input.length; i++) {
                        input[i] = input[i].charAt(0).toUpperCase() + input[i].substring(1);
                    }
                    return input.join(' ');
                }
                else {
                    return false;
                }
            }
            // return function (input) {
            //     return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
            // }
        });
        app.config(function($stateProvider, $urlRouterProvider) {
            $stateProvider
            .state('home', {
                url: '/home',
                templateUrl: 'adoApp/home',
                controller: 'myADOAppHomeCtrl'
            }).state('dashboard', {
                url: '/dashboard',
                templateUrl: 'adoApp/dashboard',
                controller: 'myADOAppDashboardCtrl'
            }).state('emergencyCase', {
                url: '/emergencyCase',
                templateUrl: 'adoApp/emergencycase',
                controller: 'myADOAppEMRCtrl'
            }).state('synchronize', {
                url: '/synchronize',
                templateUrl: 'adoApp/synchronize',
                controller: 'myADOAppSyncCtrl'
            }).state('changePassword', {
                url: '/changePassword',
                templateUrl: 'adoApp/changepassword',
                controller: 'myADOAppCPCtrl'
            }).state('dashboard.referenceNoDetails', {
                url: '/referenceNoDetails',
                templateUrl: 'adoApp/referenceNoDetails'
            }).state('dashboard.cropDetails', {
                url: '/cropDetails',
                templateUrl: 'adoApp/cropdetails'
            }).state('dashboard.photo', {
                url: '/photo',
                templateUrl: 'adoApp/photo'
            }).state('dashboard.pestDetails', {
                url: '/pestDetails',
                templateUrl: 'adoApp/pestdetails'
            }).state('offline', {
                url: '/offline',
                templateUrl: 'adoApp/offline'
            });
            $urlRouterProvider.otherwise('/home');
        });
        app.directive('loading', ['$http', function ($http) {
            return {
                restrict: 'A',
                template: '<div class="lds-eclipse" style="background: white; z-index: 99999; position: fixed"><div style="margin: 50% 22%"></div></div>',
                // Loading&#8230;
                link: function (scope, elm, attrs) {
                    scope.isLoading = function () {
                        return $http.pendingRequests.length > 0;
                    };
                    scope.$watch(scope.isLoading, function (v) {
                        if (v) {
                            elm.css('display', 'block');
                        } else {
                            elm.css('display', 'none');
                        }
                    });
                }
            };
        }]);
    </script>
    <script src="../../public/controllers/adoApp/myADOAppHomeCtrl.js"></script>
    <script src="../../public/controllers/adoApp/myADOAppDashboardCtrl.js"></script>
    <script src="../../public/controllers/adoApp/myADOAppCPCtrl.js"></script>
    <script src="../../public/controllers/adoApp/myADOAppSyncCtrl.js"></script>
    <script src="../../public/controllers/adoApp/myADOAppEMRCtrl.js"></script>
    <script type="text/javascript" src="../../public/javascripts/sha256.js"></script>
    <script src="../../public/javascripts/promise.js"></script>
    <script src="../../public/javascripts/fetch.js"></script>
    <script src="../../public/javascripts/idb.js"></script>
    <script src="../../public/javascripts/adoUtility.js"></script>
    <script src="../../public/javascripts/appsw.js"></script>
    <script>
        history.pushState(null, document.title, location.href);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, document.title, location.href);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });
            $('#dismiss, #closeSideBar, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').fadeOut();
            });
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').fadeIn();
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <script>
        function logout() {
            location.href = 'http://localhost:3000/adoApp/authentication';
            // if ('caches' in window) {
            //     caches.delete('dynamic')
            //     .then(function(response) {
            //         if ('indexedDB' in window) {
            //             dbDelete();
            //         }
            //     });
            // }
        };
        function setLocationHrefSync() {
            if (navigator.onLine) {
                location.href = 'http://localhost:3000/adoApp#!/synchronize';
            }
            else {
                location.href = 'http://localhost:3000/adoApp#!/offline';
            }                
        };
        function setLocationHrefCP() {
            if (navigator.onLine) {
                location.href = 'http://localhost:3000/adoApp#!/changePassword';
            }
            else {
                location.href = 'http://localhost:3000/adoApp#!/offline';
            }                
        };
    </script>
</body>
</html>