<div id="top" class="container" style="text-align: center; padding-top: 70px">
    <div class="row">
        <div id="signup-form">
            <h4 style="text-align: center; padding: 100px 0; color: red" class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12"><b>Please be online before accessing this page.</b></h4>
        </div>
    </div>
</div>