<div class="right_col" role="main" ng-controller="myCDAOVMPDCtrl" ng-init="getCropCategories(); getBlocks();" style="min-height: 100vh">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>View / Modify Pest details</h3>
            </div>
            <div class="title_right">
                <!-- <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Pest details <small>(Select Date of entry, Season, Financial Year, Crop Category and Crop)</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <!-- <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li> -->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal" role="form" name="cdaoPDEForm" ng-submit="updatePDE(cdaoPDEForm.$valid)" autocomplete="off" novalidate>
                            <div class="col-md-12 col-sm-12 col-xs-12" style="height: 44px">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label style="text-align: left; white-space: nowrap; padding-top: 8px" class="control-label col-md-4 col-sm-4 col-xs-12">Select Date : <span style="color: red">*</span></label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="date" class="form-control" name="dtPDE" ng-model="dateOfPDE" id="pdeDate" ng-change="checkCDay()" />
                                        </div>
                                    </div>
                                    <div class="has-error" ng-show="cdaoPDEForm.$submitted || cdaoPDEForm.dtPDE.$touched" style="color:red">
                                        <span ng-show="cdaoPDEForm.dtPDE.$error.required">This is a required field</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: left">
                                    <div class="form-group">
                                        <label style="text-align: left; white-space: nowrap; padding-top: 8px" class="control-label col-md-4 col-sm-4 col-xs-12">Season : <span style="color: red">*</span></label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 7px">
                                                <input type="radio" name="season" ng-model="rbs" value="K" required />
                                                <label>Kharif</label>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 7px">
                                                <input type="radio" name="season" ng-model="rbs" value="R" required />
                                                <label>Rabi</label>
                                            </div>
                                        </div>
                                        <div class="has-error" ng-show="cdaoPDEForm.$submitted || cdaoPDEForm.season.$touched" style="color:red">
                                            <span ng-show="cdaoPDEForm.season.$error.required">This is a required field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label style="text-align: left; padding-top: 10px; white-space: nowrap" class="control-label col-md-4 col-sm-4 col-xs-12">Financial Year : <span style="color: red">*</span></label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <select class="form-control" name="financialYear" ng-model="ddlFY" required>
                                                <option value="" disabled>Select Financial Year</option>
                                                <option value="2019-20">2019-20</option>
                                            </select>
                                        </div>
                                        <div class="has-error" ng-show="cdaoPDEForm.$submitted || cdaoPDEForm.financialYear.$touched" style="color:red">
                                            <span ng-show="cdaoPDEForm.financialYear.$error.required">This is a required field</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label style="text-align: left; padding-top: 10px; white-space: nowrap" class="control-label col-md-4 col-sm-4 col-xs-12">Block :</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <select class="form-control" name="block" ng-model="ddlBlock" ng-options="i.BlockCode as i.BlockName for i in blocks" ng-change="pestDetails = []; sgd = false; sbd = true">
                                                <option value="">Select Block</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label style="text-align: left; padding-top: 8px; white-space: nowrap" class="control-label col-md-4 col-sm-4 col-xs-12">Crop Category : <span style="color: red">*</span></label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <select class="form-control" name="cc" ng-model="ddlCC" ng-options="i.CategoryCode as i.CategoryName for i in cropCategories" ng-change="getCropsByCategory(ddlCC)" required>
                                                <option value="" disabled>Select Crop Category</option>
                                            </select>
                                        </div>
                                        <div class="has-error" ng-show="cdaoPDEForm.$submitted || cdaoPDEForm.cc.$touched" style="color:red">
                                            <span ng-show="cdaoPDEForm.cc.$error.required">This is a required field</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label style="text-align: left; padding-top: 8px" class="control-label col-md-4 col-sm-4 col-xs-12">Crop : <span style="color: red">*</span></label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <select class="form-control" name="c" ng-model="ddlC" ng-options="i.CropCode as i.CropName for i in crops" ng-change="getAllPestDiseases(ddlC)" required>
                                                <option value="" disabled>Select Crop</option>
                                            </select>
                                        </div>
                                        <div class="has-error" ng-show="cdaoPDEForm.$submitted || cdaoPDEForm.c.$touched" style="color:red">
                                            <span ng-show="cdaoPDEForm.c.$error.required">This is a required field</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label style="text-align: left; padding-top: 8px" class="control-label col-md-4 col-sm-4 col-xs-12">Pest :</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <select class="form-control" name="pd" ng-model="ddlPD" ng-options="i.PestDiseaseCode as i.PestDiseaseName for i in pestDiseases">
                                                <option value="">Select Pest</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="ln_solid"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <input type="button" class="btn btn-success" value="Get Pest Details" ng-click="getPestDetails()" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="ln_solid"></div>
                            <hr />
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="pestDetails.length > 0">
                                <div class="form-group" style="text-align: center">
                                    <div ng-show="sgd" class="table table-responsive">
                                        <input type="submit" class="btn btn-primary" value="Update Pest Details" ng-show="sthl" style="margin-bottom: 10px; float: right" />
                                        <input type="button" class="btn btn-danger" value="Cancel Modification" ng-show="sthl" ng-click="showLabelHideText()" style="margin-bottom: 10px; float: right" />
                                        <input type="button" id="modifyButton" class="btn btn-warning" value="Modify Pest Details" ng-show="slht" ng-click="showTextHideLabel()" style="margin-bottom: 10px; float: right" />
                                        <input type="button" class="btn btn-info" value="Print" ng-show="slht" ng-click="printNext($event, 'GP and Pest-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <input type="button" class="btn btn-primary" value="Export to Excel" ng-show="slht" onclick="ExportToExcel(this, 'GP and Pest-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <table id="sgdData" class="table table-hover table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <td style="vertical-align: middle"><b>Serial No.</b></td>
                                                    <td style="vertical-align: middle"><b>GP</b></td>
                                                    <td style="vertical-align: middle"><b>Low Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Low Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Treated Area (in HA)</b></td>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="i in pestDetails | orderBy: 'GPName'">
                                                <td style="vertical-align: middle">{{$index + 1}}</td>
                                                <td style="vertical-align: middle"><b>{{i.GPName | capitalize}}</b></td>
                                                <td ng-show="slht" style="vertical-align: middle">{{(i.LowAffectedArea).toFixed(1)}}</td>
                                                <td ng-show="sthl" style="vertical-align: middle">
                                                    <input type="text" class="form-control" valid-number-upto-one-decimal ng-model="i.LowAffectedArea" minlength="1" maxlength="10" />
                                                </td>
                                                <td ng-show="slht" style="vertical-align: middle">{{(i.MediumAffectedArea).toFixed(1)}}</td>
                                                <td ng-show="sthl" style="vertical-align: middle">
                                                    <input type="text" class="form-control" valid-number-upto-one-decimal ng-model="i.MediumAffectedArea" minlength="1" maxlength="10" />
                                                </td>
                                                <td ng-show="slht" style="vertical-align: middle">{{(i.HighAffectedArea).toFixed(1)}}</td>
                                                <td ng-show="sthl" style="vertical-align: middle">
                                                    <input type="text" class="form-control" valid-number-upto-one-decimal ng-model="i.HighAffectedArea" minlength="1" maxlength="10" />
                                                </td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea -- i.MediumAffectedArea -- i.HighAffectedArea).toFixed(1)}}</td>
                                                <td ng-show="slht" style="vertical-align: middle">{{i.LowTreatedArea}}</td>
                                                <td ng-show="sthl" style="vertical-align: middle">
                                                    <input type="text" class="form-control" valid-number-upto-one-decimal ng-model="i.LowTreatedArea" minlength="1" maxlength="10" disabled />
                                                </td>
                                                <td ng-show="slht" style="vertical-align: middle">{{(i.MediumTreatedArea).toFixed(1)}}</td>
                                                <td ng-show="sthl" style="vertical-align: middle">
                                                    <input type="text" class="form-control" valid-number-upto-one-decimal ng-model="i.MediumTreatedArea" minlength="1" maxlength="10" />
                                                </td>
                                                <td ng-show="slht" style="vertical-align: middle">{{(i.HighTreatedArea).toFixed(1)}}</td>
                                                <td ng-show="sthl" style="vertical-align: middle">
                                                    <input type="text" class="form-control" valid-number-upto-one-decimal ng-model="i.HighTreatedArea" minlength="1" maxlength="10" />
                                                </td>
                                                <td style="vertical-align: middle">{{(i.LowTreatedArea -- i.MediumTreatedArea -- i.HighTreatedArea).toFixed(1)}}</td>
                                            </tr>
                                            <tr class="totalArea" ng-show="slht">
                                                <td style="background: rgba(52,73,94,.94); color: #ECF0F1; vertical-align: middle" colspan="2"><b>Total Area (in HA)</b></td>
                                                <td>{{laa.toFixed(1)}}</td>
                                                <td>{{maa.toFixed(1)}}</td>
                                                <td>{{haa.toFixed(1)}}</td>
                                                <td>{{taa.toFixed(1)}}</td>
                                                <td>{{lta.toFixed(1)}}</td>
                                                <td>{{mta.toFixed(1)}}</td>
                                                <td>{{hta.toFixed(1)}}</td>
                                                <td>{{tta.toFixed(1)}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-show="sgpd" class="table table-responsive">
                                        <input type="button" class="btn btn-primary" value="Export to Excel" onclick="ExportToExcel(this, 'GP-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <table style="display: none" id="sgpdData" class="table table-hover table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <td style="vertical-align: middle"><b>Serial No.</b></td>
                                                    <td style="vertical-align: middle"><b>GP</b></td>
                                                    <td style="vertical-align: middle"><b>Pest</b></td>
                                                    <td style="vertical-align: middle"><b>Low Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Low Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Treated Area (in HA)</b></td>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="i in pestDetails | orderBy: 'GPName'">
                                                <td style="vertical-align: middle">{{$index + 1}}</td>
                                                <td style="vertical-align: middle"><b>{{i.GPName | capitalize}}</b></td>
                                                <td style="vertical-align: middle">{{i.PestDiseaseName | capitalize}}</td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.MediumAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.HighAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea -- i.MediumAffectedArea -- i.HighAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{i.LowTreatedArea}}</td>
                                                <td style="vertical-align: middle">{{(i.MediumTreatedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.HighTreatedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.LowTreatedArea -- i.MediumTreatedArea -- i.HighTreatedArea).toFixed(1)}}</td>
                                            </tr>
                                        </table>
                                        <input type="button" class="btn btn-info" value="Print" ng-click="print($event, 'GP-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <table id="sgpdPrint" class="table table-hover table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <td style="vertical-align: middle"><b>Serial No.</b></td>
                                                    <td style="vertical-align: middle"><b>GP</b></td>
                                                    <td style="vertical-align: middle"><b>Pest Details</b></td>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="(key, value) in pestDetails | orderBy: 'GPName' | groupBy: 'GPName'">
                                                <td style="vertical-align: middle">{{$index + 1}}</td>
                                                <td style="vertical-align: middle"><b>{{key | capitalize}}</b></td>
                                                <td>
                                                    <table class="table table-hover table-striped jambo_table bulk_action">
                                                        <thead>
                                                            <tr class="headings">
                                                                <td><b>Serial No.</b></td>
                                                                <td><b>Pest Name</b></td>
                                                                <td><b>Low Affected Area (in HA)</b></td>
                                                                <td><b>Medium Affected Area (in HA)</b></td>
                                                                <td><b>High Affected Area (in HA)</b></td>
                                                                <td><b>Total Affected Area (in HA)</b></td>
                                                                <td><b>Low Treated Area (in HA)</b></td>
                                                                <td><b>Medium Treated Area (in HA)</b></td>
                                                                <td><b>High Treated Area (in HA)</b></td>
                                                                <td><b>Total Treated Area (in HA)</b></td>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="i in value | orderBy: 'PestDiseaseName'">
                                                            <td>{{$index + 1}}</td>
                                                            <td>{{i.PestDiseaseName | capitalize}}</td>
                                                            <td>{{(i.LowAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.MediumAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.HighAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.LowAffectedArea -- i.MediumAffectedArea -- i.HighAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.LowTreatedArea).toFixed(1)}}</td>
                                                            <td>{{(i.MediumTreatedArea).toFixed(1)}}</td>
                                                            <td>{{(i.HighTreatedArea).toFixed(1)}}</td>
                                                            <td>{{(i.LowTreatedArea -- i.MediumTreatedArea -- i.HighTreatedArea).toFixed(1)}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-show="sbd" class="table table-responsive">
                                        <input type="button" class="btn btn-info" value="Print" ng-click="printNext($event, 'Block and Pest-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <input type="button" class="btn btn-primary" value="Export to Excel" onclick="ExportToExcel(this, 'Block and Pest-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <table id="sbdData" class="table table-hover table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <td style="vertical-align: middle"><b>Serial No.</b></td>
                                                    <td style="vertical-align: middle"><b>Block</b></td>
                                                    <td style="vertical-align: middle"><b>Low Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Low Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Treated Area (in HA)</b></td>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="i in pestDetails | orderBy: 'BlockName'">
                                                <td style="vertical-align: middle">{{$index + 1}}</td>
                                                <td style="vertical-align: middle"><b>{{i.BlockName | capitalize}}</b></td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.MediumAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.HighAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea -- i.MediumAffectedArea -- i.HighAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{i.LowTreatedArea}}</td>
                                                <td style="vertical-align: middle">{{(i.MediumTreatedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.HighTreatedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.LowTreatedArea -- i.MediumTreatedArea -- i.HighTreatedArea).toFixed(1)}}</td>
                                            </tr>
                                            <tr class="totalArea">
                                                <td style="background: rgba(52,73,94,.94); color: #ECF0F1; vertical-align: middle" colspan="2"><b>Total Area (in HA)</b></td>
                                                <td>{{laa.toFixed(1)}}</td>
                                                <td>{{maa.toFixed(1)}}</td>
                                                <td>{{haa.toFixed(1)}}</td>
                                                <td>{{taa.toFixed(1)}}</td>
                                                <td>{{lta.toFixed(1)}}</td>
                                                <td>{{mta.toFixed(1)}}</td>
                                                <td>{{hta.toFixed(1)}}</td>
                                                <td>{{tta.toFixed(1)}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-show="sbpd" class="table table-responsive">
                                        <input type="button" class="btn btn-primary" value="Export to Excel" onclick="ExportToExcel(this, 'Block-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <table style="display: none" id="sbpdData" class="table table-hover table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <td style="vertical-align: middle"><b>Serial No.</b></td>
                                                    <td style="vertical-align: middle"><b>Block</b></td>
                                                    <td style="vertical-align: middle"><b>Pest</b></td>
                                                    <td style="vertical-align: middle"><b>Low Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Affected Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Low Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Medium Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>High Treated Area (in HA)</b></td>
                                                    <td style="vertical-align: middle"><b>Total Treated Area (in HA)</b></td>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="i in pestDetails | orderBy: 'BlockName'">
                                                <td style="vertical-align: middle">{{$index + 1}}</td>
                                                <td style="vertical-align: middle"><b>{{i.BlockName | capitalize}}</b></td>
                                                <td style="vertical-align: middle">{{i.PestDiseaseName | capitalize}}</td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.MediumAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.HighAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.LowAffectedArea -- i.MediumAffectedArea -- i.HighAffectedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{i.LowTreatedArea}}</td>
                                                <td style="vertical-align: middle">{{(i.MediumTreatedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.HighTreatedArea).toFixed(1)}}</td>
                                                <td style="vertical-align: middle">{{(i.LowTreatedArea -- i.MediumTreatedArea -- i.HighTreatedArea).toFixed(1)}}</td>
                                            </tr>
                                        </table>
                                        <input type="button" class="btn btn-info" value="Print" ng-click="print($event, 'Block-wise Pest Report')" style="margin-bottom: 10px; float: right" />
                                        <table id="sbpdPrint" class="table table-hover table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <td style="vertical-align: middle"><b>Serial No.</b></td>
                                                    <td style="vertical-align: middle"><b>Block</b></td>
                                                    <td style="vertical-align: middle"><b>Pest Details</b></td>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="(key, value) in pestDetails | orderBy: 'BlockName' | groupBy: 'BlockName'">
                                                <td style="vertical-align: middle">{{$index + 1}}</td>
                                                <td style="vertical-align: middle"><b>{{key | capitalize}}</b></td>
                                                <td>
                                                    <table class="table table-hover table-striped jambo_table bulk_action">
                                                        <thead>
                                                            <tr class="headings">
                                                                <td><b>Serial No.</b></td>
                                                                <td><b>Pest Name</b></td>
                                                                <td><b>Low Affected Area (in HA)</b></td>
                                                                <td><b>Medium Affected Area (in HA)</b></td>
                                                                <td><b>High Affected Area (in HA)</b></td>
                                                                <td><b>Total Affected Area (in HA)</b></td>
                                                                <td><b>Low Treated Area (in HA)</b></td>
                                                                <td><b>Medium Treated Area (in HA)</b></td>
                                                                <td><b>High Treated Area (in HA)</b></td>
                                                                <td><b>Total Treated Area (in HA)</b></td>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="i in value | orderBy: 'PestDiseaseName'">
                                                            <td>{{$index + 1}}</td>
                                                            <td>{{i.PestDiseaseName | capitalize}}</td>
                                                            <td>{{(i.LowAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.MediumAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.HighAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.LowAffectedArea -- i.MediumAffectedArea -- i.HighAffectedArea).toFixed(1)}}</td>
                                                            <td>{{(i.LowTreatedArea).toFixed(1)}}</td>
                                                            <td>{{(i.MediumTreatedArea).toFixed(1)}}</td>
                                                            <td>{{(i.HighTreatedArea).toFixed(1)}}</td>
                                                            <td>{{(i.LowTreatedArea -- i.MediumTreatedArea -- i.HighTreatedArea).toFixed(1)}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ExportToExcel(tableID, excelName) {
        $("#" + tableID.nextElementSibling.id).table2excel({
            exclude: ".totalArea",
            filename: excelName + ".xls",
        });
    }
</script>