<div ng-controller="myAAOAppHomeCtrl" ng-init="getBlock()">
    <div class="container" style="text-align: center; padding-top: 200px">
        <h2 ng-show="blockName != null">Welcome AAO, {{blockName | capitalize}}</h2>
        <h2 ng-show="blockName == null">Welcome AAO</h2>
    </div>
</div>