<div ng-controller="myVAWAppCPCtrl" ng-init="reload();">
    <div id="top" class="container" style="text-align: center; padding-top: 70px">
        <div class="row">
            <div id="signup-form">
                <form class="form-horizontal" method="POST" role="form" name="cpForm" ng-submit="changePassword(cpForm.$valid)" ng-init="randomNoInit('<%= randomNo %>')" autocomplete="off" novalidate>
                    <input type="hidden" name="_csrf" id="_csrf" value="<%=csrfToken %>">
                    <div class="row container">
                        <h3 style="text-align: center; padding-bottom: 30px" class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12"><b>Change Password</b></h3>
                        <!-- <div class="form-group">
                            <label style="text-align: left; padding-top: 8px" class="control-label col-lg-5 col-md-5 col-sm-5 col-xs-5">Username <span style="color: red">*</span></label>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 0">
                                <input type="text" class="form-control" name="username" ng-model="txtUsername" placeholder="Enter Username" maxlength="30" required>
                                <div class="has-error" ng-show="cpForm.$submitted || cpForm.username.$touched" style="color:red">
                                    <span ng-show="cpForm.username.$error.required">This is a required field</span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        </div> -->
                        <div class="form-group">
                            <label style="text-align: left; padding-top: 8px" class="control-label col-lg-5 col-md-5 col-sm-5 col-xs-5">Old Password <span style="color: red">*</span></label>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 0">
                                <input type="password" class="form-control" name="oldPassword" ng-model="txtOldPassword" placeholder="Enter Old Password" maxlength="50" required>
                                <div class="has-error" ng-show="cpForm.$submitted || cpForm.oldPassword.$touched" style="color:red">
                                    <span ng-show="cpForm.oldPassword.$error.required">This is a required field</span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        </div>
                        <div class="form-group">
                            <label style="text-align: left; padding-top: 8px" class="control-label col-lg-5 col-md-5 col-sm-5 col-xs-5">New Password <span style="color: red">*</span></label>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 0">
                                <input type="password" class="form-control" ng-change="analyzeNP(txtNewPassword)" ng-minlength="6" name="newPassword" ng-model="txtNewPassword" placeholder="Enter New Password" maxlength="50" required data-toggle="tooltip" title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                                <div class="has-error" ng-show="cpForm.$submitted || cpForm.newPassword.$touched" style="color:red">
                                    <span ng-show="cpForm.newPassword.$error.required">This is a required field</span>
                                    <span ng-show="cpForm.newPassword.$error.minlength">Password is too short</span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span ng-style="npCheck" ng-class="nPWDCheck"></span></div>
                        </div>
                        <div class="form-group">
                            <label style="text-align: left; padding-top: 8px; white-space: nowrap" class="control-label col-lg-5 col-md-5 col-sm-5 col-xs-5">Confirm Password <span style="color: red">*</span></label>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-right: 0">
                                <input type="password" class="form-control" ng-change="analyzeCP(txtConfirmPassword)" ng-minlength="6" name="confirmPassword" ng-model="txtConfirmPassword" placeholder="Confirm Password" maxlength="50" required data-toggle="tooltip" title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                                <div class="has-error" ng-show="cpForm.$submitted || cpForm.confirmPassword.$touched" style="color:red">
                                    <span ng-show="cpForm.confirmPassword.$error.required">This is a required field</span>
                                    <span ng-show="cpForm.confirmPassword.$error.minlength">Password is too short</span>
                                    <span>{{pnm}}</span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span ng-style="cpCheck" ng-class="cPWDCheck"></span></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" ng-disabled="cpForm.$invalid" style="background: #2a5d1f; color: #ffffff">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>